{% block footer %}

<footer class="footer_section section_wrapper section_wrapper">
  <div class="footer_top_section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="text_widget footer_widget">
            <div class="footer_widget_title">
              <h2>About Sports Mag</h2>
            </div>
            <div class="footer_widget_content">Collaborativelyadministrate empowered marketsplug-and-play networks.
              Dynamic procrastinate after.marketsplug-and-play networks. Dynamic procrastinate users after. Dynamic
              procrastinateafter. marketsplug-and-play networks. Dynamic procrastinate users after...
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text_widget footer_widget">
            <div class="footer_widget_title">
              <h2>Editor’s Message</h2>
            </div>
            <!--<img src="assets/img/img-author.jpg" />-->
            <div class="footer_widget_content">Collaborativelyadministrate empowered marketsplug-and-play networks.
              Dynamic procrastinate after.marketsplug-and-play networks. Dynamic procrastinate users after. Dynamic
              procrastinateafter. marketsplug-and-play networks. Dynamic procrastinate users after...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="crunchify-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
  <div class="copyright-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          Creator: Esethu Jonas
        </div>
        <div class="col-md-6">
          <div class="copyright">
            &copy; Copyright 2019 - iDiski99 News Mag.com. Design by: <a href="http://esethujonas.co.za/"
              title="Ejonas">Ejonas</a>
          </div>
        </div>
        <div class="col-md-3">
          iDiski99 News Magazine
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock footer %}