{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div id="main-wrapper">
    {% block header %} {% include 'header.html' %} {% endblock header %}

  <section id="feature_category_section" class="feature_category_section category_page section_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <div class="feature_news_item category_item">
                  <div class="item">
                    <div class="item_wrapper">
                      <div class="item_img">
                        <img class="img-responsive" src="{% static 'assets/img/caregory15.jpg' %}" alt="Chania">
                      </div>
                      <div class="item_title_date">
                        <div class="news_item_title">
                          <h1><a href="single.html">Leo Messi is boss of the bosses in the football world omnis iste
                              natus error .</a></h1>
                        </div>
                        <div class="item_meta"><a href="#">20Aug- 2015,</a> by:<a href="#">Jhonson</a></div>
                      </div>
                    </div>
                    <div class="item_content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                      architecto beatae vitae dicta sunt explicabo. Nemo enim aut Sed ut perspiciatis unde omnis iste
                      natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                      ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                      voluptatem quia voluptas sit aspernatur aut...
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="feature_news_item">
                  <div class="item">
                    <div class="item_wrapper">
                      <div class="item_img">
                        <img class="img-responsive" src="{% static 'assets/img/img-category2.jpg' %}" alt="Chania">
                      </div>
                      <div class="item_title_date">
                        <div class="news_item_title">
                          <h2><a href="single.html">Neymar 4th goal in europian champion league</a></h2>
                        </div>
                        <div class="item_meta"><a href="#">20Aug- 2015,</a> by:<a href="#">Jhonson</a></div>
                      </div>
                    </div>
                    <div class="item_content">Sed ut perspiciatis unde omnis iste natus error sit
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature_news_item">
                  <div class="item">
                    <div class="item_wrapper">
                      <div class="item_img">
                        <img class="img-responsive" src="{% static 'assets/img/caregory10.jpg' %}" alt="Chania">
                      </div>
                      <div class="item_title_date">
                        <div class="news_item_title">
                          <h2><a href="single.html">Juventus players raise the voice for victory</a></h2>
                        </div>
                        <div class="item_meta"><a href="#">20Aug- 2015,</a> by:<a href="#">Jhonson</a></div>
                      </div>
                    </div>
                    <div class="item_content">Sed ut perspiciatis unde omnis iste natus error sit
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
        </div>
    </section>

 {% block footer %} {% include 'footer.html' %} {% endblock footer %}
  </div>

</div>
{% endblock content %}

